
  .puzzle {
    border-radius: 2rem;
  }

  /* round connectors */
  .puzzle-left-top::after,
  .puzzle-right-top::after,
  .puzzle-left-bottom::after,
  .puzzle-right-bottom::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: inherit;
    border-radius: 50%;
  }

  .puzzle-left-top::after { right: -25px; top: 50%; transform: translateY(-50%); }
  .puzzle-right-top::after { left: -25px; top: 50%; transform: translateY(-50%); }
  .puzzle-left-bottom::after { right: -25px; top: 50%; transform: translateY(-50%); }
  .puzzle-right-bottom::after { left: -25px; top: 50%; transform: translateY(-50%); }

